.user-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.user-form input {
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
